@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomhuria&family=Paytone+One&family=Space+Grotesk:wght@300..700&family=Uncial+Antiqua&display=swap');

body {
    font-family: "Changa One", sans-serif, Arial, Helvetica;
    font-style: normal;
    text-align: center;
    color: aliceblue;
}
h1 {
    background-color: brown;
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 7px 7px 20px #5c28286c;
    font-size: 60px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
    text-align: justify;
    text-align: center;
}