@charset "UTF-8";


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --cor01:#000000;
    --cor02:#ffffff;

    --fonte01:"Montserrat", sans-serif;
    --fonte02:"Shadows Into Light Two";
    
}

body {
    background-color: lightgray;
}


header {
    background-color: var(--cor01);
    text-align: center;
}

header h1 {
    padding-top: 50px;
    color: var(--cor02);
    font-family: var(--fonte01);
    font-variant: small-caps;
    font-size: 8vw;

}

header p {
    color: var(--cor02);
    padding-bottom: 50px;
    font-family: var(--fonte01);
    font-weight: 100;
}

header p a {
    color: var(--cor02);
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte02);
    font-weight: 900;
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    
}

section.normal {
    background-color: var(--cor02);
    
}

section.normal > p {
    padding-bottom: 3em;
    
}

section.imagem {
    color: var(--cor02);
    text-shadow: 1px 1px 1px black;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.468);
    background-attachment: fixed;
    background-size: cover;
}

section#img01 {
    background-image: url('./imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('./imagens/background002.jpg');
    background-position: right center;
}

section.imagem > p {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.636), transparent);
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: var(--cor01);
    color: var(--cor02);
    padding: 10px;
    font-family: var(--fonte01);
}

footer p {
    text-align: center;
    font-weight: 100;
    
}

footer p a {
    color: var(--cor02);
    font-weight: bolder;
}

footer p a:hover {
    text-decoration: underline;
}