@charset "UTF-8";


* {
    text-decoration: none;

}

:root {
    --cor01:#000000;
    --cor02:#ffffff;

    --fonte01:"Montserrat", sans-serif;
    --fonte02:"Shadows Into Light Two";
    
}


body {
    margin: 0;
}


header {
    background-color: var(--cor01);
    margin: 0;
    padding: 30px;

}

header h1 {
    margin: auto;
    color: var(--cor02);
    font-family: var(--fonte01);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
    font-size: 70px;
    
}

header p {
    margin: auto;
    color: var(--cor02);
    font-family: var(--fonte01);
    text-align: center;
    padding-top: 40px;
    font-weight: 100;
}

header p a {
    color: var(--cor02);
    font-weight: 500;
}

section {
    font-family: var(--fonte02);
    font-weight: 900;
    text-align: left;
    font-size: 40px;
}

