@charset "UTF-8";


        body{
            background-color: beige; font-family: Arial, Helvetica, sans-serif; font-size: 20px;
        }
        h1{
            color: blue;
        }
        h2{
            color: brown; background-color: aqua;
        }
        p{
            text-align: justify;
        }