@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* Garante que o corpo ocupe 100% da altura da janela visível */
    min-height: 100vh;
    
    /* Remove margens padrões que podem criar barras de rolagem indesejadas */
    margin: 0;
    
    /* Seu código de gradiente atual */
    background: linear-gradient(to right, #288990, #45769E);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 7px 7px 20px #28465c6c;
}
h1 {
    color: #FFB629;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 3px #aa7b1c;
}

h2 {
    text-align: center;
}
p {
    text-align: justify;
}